In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = data.iloc[:,[3,6]].values
X = X.T

In [5]:
Y = data.iloc[:,-1].values

In [6]:
Y = Y.reshape(-1,1)
Y = Y.T

In [7]:
def initialize_nodes(X,Y):
    n_x = X.shape[0]
    n_h = 20
    n_y = Y.shape[0]
    
    W1 = np.random.randn(n_h,n_x)*0.01
    b1 = np.zeros((n_h,1),dtype = float)
    W2 = np.random.randn(1,n_h)*0.01
    b2 = np.zeros((n_y,1),dtype = float)
    
    parameters = {'W1':W1,'b1':b1,'W2':W2,'b2':b2}
    
    return parameters

In [14]:
def forward_propagate(X,parameters):
    
    
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    
    Z1 = np.dot(W1,X)+b1
    A1 = np.tanh(Z1)
    Z2 = np.dot(W2,A1)+b2
    A2 = 1/(1+np.exp(-Z2))
    
    cache = {'Z1':Z1,'A1':A1,'Z2':Z2,'A2':A2}
    
    return A2 , cache

In [15]:
def cost_function(A2,X,Y):
    
    m = X.shape[1]

    logprobs = np.multiply(Y,np.log(A2)) + np.multiply((1-Y),np.log(1-A2))
    
    loss = - np.sum(logprobs) / m 
    
    return loss

In [16]:
parameters = initialize_nodes(X,Y)
A2, cache = forward_propagate(X,parameters)

In [17]:
def backward_propagation(parameters,cache,X,Y):
    
    W1 = parameters['W1']
    W2 = parameters['W2']
        
    Z1 = cache['Z1']
    A1 = cache['A1']
    Z2 = cache['Z2']
    A2 = cache['A2']
    
    loss = cost_function(A2,X,Y)
    m = X.shape[1]
    dZ2= A2 - Y
    dW2 = (1 / m) * np.dot(dZ2, A1.T)
    db2 = (1 / m) * np.sum(dZ2, axis=1, keepdims=True)
    dZ1 = np.dot(W2.T, dZ2) * (1 - np.power(A1, 2))
    dW1 = (1 / m) * np.dot(dZ1, X.T)
    db1 = (1 / m) * np.sum(dZ1, axis=1, keepdims=True)
    
    grads = {"dW1": dW1,
             "db1": db1,
             "dW2": dW2,
             "db2": db2}
    
    return grads

In [18]:
grads = backward_propagation(parameters,cache,X,Y)
def update_parameters(parameters,grads,learning_rate=0.001):
    
    W1 = parameters['W1']
    b1 = parameters['b1']
    W2 = parameters['W2']
    b2 = parameters['b2']
    
    
    dW1 = grads['dW1']
    db1 = grads['db1']
    dW2 = grads['dW2']
    db2 = grads['db2']
    
    W1 = W1 - learning_rate * dW1
    b1 = b1 - learning_rate * db1
    W2 = W2 - learning_rate * dW2
    b2 = b2 - learning_rate * db2
    
    parameters = {"W1": W1,
                  "b1": b1,
                  "W2": W2,
                  "b2": b2}
    
    return parameters

In [19]:
def neural_network(X,Y,learning_rate = 0.001,num_iterations = 1000):
    
    parameters = initialize_nodes(X,Y)
    
    for  i in range(0,num_iterations):
        
        A2, cache = forward_propagate(X,parameters)

        loss = cost_function(A2,X,Y)

        grads = backward_propagation(parameters,cache,X,Y)

        parameters = update_parameters(parameters,grads,learning_rate)
        
        print('loss after {} iteration {}'.format(i,loss))
    
    return parameters

In [22]:
neural_network(X,Y,learning_rate=0.001,num_iterations=10)

loss after 0 iteration 0.6953687483210204
loss after 1 iteration 0.6932747007703197
loss after 2 iteration 0.6909219734664003
loss after 3 iteration 0.6881013899825406
loss after 4 iteration 0.6854809058349624
loss after 5 iteration 0.6832212331645554
loss after 6 iteration 0.6805468730766087
loss after 7 iteration 0.6775032654119082
loss after 8 iteration 0.6754383036488301
loss after 9 iteration 0.673685412602116

{'W1': array([[-0.00277767,  0.00508197],
        [ 0.01613561, -0.00507551],
        [-0.00830361, -0.01920936],
        [-0.00911894,  0.01651522],
        [ 0.01563658, -0.01361802],
        [ 0.00234689,  0.01096175],
        [ 0.0041899 ,  0.00237709],
        [ 0.01148841,  0.00757145],
        [ 0.00617499, -0.0010548 ],
        [-0.00816408,  0.00020676],
        [ 0.00818009, -0.01024083],
        [-0.00839467, -0.00322206],
        [ 0.00268379, -0.00694324],
        [ 0.01006364, -0.00544933],
        [ 0.01758429,  0.0172275 ],
        [ 0.01436716, -0.02077106],
        [ 0.00399071,  0.00057843],
        [-0.01521498, -0.0047824 ],
        [-0.00629921,  0.01136261],
        [-0.00284117, -0.00280902]]), 'b1': array([[-8.08369469e-06],
        [-2.11568645e-13],
        [-1.32252621e-09],
        [-5.07927662e-10],
        [-1.12581876e-12],
        [ 7.13250956e-06],
        [ 6.60920232e-07],
        [-6.61648995e-11],
        [ 7.53860975e-08],
        [ 8.82271764e-09],
        [ 3.10345036e-09],
        [-1.24582588e-09],
        [-1.55143619e-06],
        [-6.93353454e-10],
        [-1.91409229e-14],
        [-3.45160494e-12],
        [-4.41648601e-07],
        [-4.90035918e-13],
        [-1.68522218e-07],
        [ 8.06576785e-07]]), 'W2': array([[ 0.00749993, -0.0126807 ,  0.0087076 ,  0.00226591, -0.00647594,
         -0.00728416, -0.01116015,  0.00360037, -0.01187817, -0.01021805,
         -0.00376363,  0.00425955,  0.00370051,  0.00367301,  0.00279268,
         -0.00895847,  0.00522355,  0.00424786,  0.01420833, -0.00290928]]), 'b2': array([[-0.00288703]])}